extends ../base

block content 
    form(method="POST")
        input(name="oldPassword", type="password", placeholder="Old Password")
        input(name="newPassword", type="password", placeholder="New Password")
        input(name="newPasswordConfirmation", type="password", placeholder="New Password Confirmation")
        input(value="Change Password", type="submit")